$pink-color: #F16D7F;
$dark-gray:  #5D5D5D;
$light-gray: #EAEAEA;



body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  h1 {
    font-size: 48px;
    line-height: 40px;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  h2 {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  p {
    /* font-size: 14px; */
    line-height: 16.8px;
    color:$dark-gray;
    font-style: normal;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  section {
    margin: 0;
  }
  
  .wrap {
    width: 1140px;
    margin: 0 auto;
    /* outline: 1px solid red; */
  }
  
  .center {
    padding: 0 calc(50% - 1140px / 2);
  }
  
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header {
    background-color: #222;
    padding: 18px 0;
  }
  .header-burger-link{
    background-color: #222;
    border: none;
}

   
  .header-logo-link {
    margin-right: 41px;
  }
  
  .header-account-link {
    margin: 0 33px;
  }
  .burger-button{
    padding: 15px 15px;
  }
  .burger-button i{
   color:$light-gray;
   font-size: 18px;
  }



  
  .promo {
    background-color: #F1E4E6;
    margin-bottom: 66px;
  }
  
  .promo-wrap {
    height: 764px;
    background-image: url(../img/promo_img.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: -224px bottom;
  }
  
  .promo-titel {
    margin: 0;
    width: 50%;
    margin-left: 64px;
    margin-top: -89px;
    border-left: 12px solid $pink-color
;
    padding-left: 16px;
  }
  
  .of-lux-fashion {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    /* vertical-align: 14px; */
  }
  
  .fashion {
    color: $pink-color;
  }
  
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 104px;
  }
  
  .categoti-item {
    background-color: #211616;
    width: 360px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 108px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .categoti-item-4 {
    width: 100%;
  }
  
  .categoti-women {
    background-image: url(../img/categoti_woman.jpg);
    height: 260px;
  }
  
  .categoti-men {
    background-image: url(../img/categori_men.jpg);
    height: 260px;
  }
  
  .categoti-kids {
    background-image: url(../img/categori_kids.jpg);
    height: 260px;
  }
  
  .categoti-accesories {
    background-image: url(../img/categori_acces.jpg);
    background-repeat: no-repeat;
    height: 180px;
    padding-top: 69px;
  }
  
  .categories-title {
    color: $pink-color
;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  
  .fetured-text {
    margin-bottom: 50px;
  }
  
  .fetured-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  
  .featured-h2 {
    margin-bottom: 18px;
    line-height: 36px;
  }
  
  .featured-p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  }
  
  .goods-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    /* не понимаю как это и зачем работает, но после этого блоки стал адаптироваться */
    /* margin-bottom: 50px; */
  }
  
  .goods-item {
    width: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #222;
  }
  
  .goods-info {
    background-color: #F8F8F8;
    width: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 48px;
  }
  
  .goods-h {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 28px;
    padding-left: 16px;
    margin-bottom: 20px;
  }
  
  .goods-text {
    color:$dark-gray;
    font-size: 14px;
    line-height: 17px;
    padding-left: 16px;
    margin-bottom: 20px;
  }
  
  .goodg-prise {
    font-size: 16px;
    line-height: 19px;
    color: $pink-color
;
    padding-left: 16px;
    padding-bottom: 21px;
    margin: 0;
  }
  
  .goods-link {
    color: black;
  }
  
  /* 
  img.goods-img:hover{
      color: #3A3838;
      opacity: 14%;
  } */
  .button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    margin-bottom: 95px;
  }
  
  .button-a {
    border: $pink-colorsolid 1px;
    padding: 16px 39px;
    color: $pink-color
;
  }
  
  .button-a:hover {
    background-color: $pink-color
;
    color: #fff;
  }
  
  .button-a:focus {
    background-color: #fdfbfb;
    color:$dark-gray;
  }

  .offer {
    background-color: #222;
  }
  
  .offer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .offer-cart {
    width: 360px;
    padding: 102px 0;
  }
  
  .offer-img {
    padding-left: 157px;
  }
  
  .offer-h2 {
    text-align: center;
    color: #FBFBFB;
  }
  
  .offer-p {
    text-align: center;
    line-height: 16.77px;
    padding-left: 29px;
    padding-right: 29px;
  }
  
  .botton {
    background-image: url(../img/botton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
  }
  
  .botton-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    padding-top: 99px;
    padding-bottom: 104px;
  }
  
  .botton-info {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 52px;
    padding-right: 87px;
  }
  
  .botton-info-1 {
    width: 359px;
  }
  
  .botton-img {
    padding-left: 120px;
  }
  
  .botton-p-img {
    padding-top: 33px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    font-style: normal;
    font-weight: normal;
  }
  
  .botton-p {
    size: 20px;
    line-height: 24px;
    text-align: center;
  }
  
  .subscribe {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    padding-left: 120px;
  }
  
  .botton-info-h2 {
    margin: 11px;
  }
  
  .botton-p {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    color: #222224;
  }
  
  .a-pulvinar {
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
  }
  
  .botton-email {
    margin-top: 33px;
    background-color: #E1E1E1;
    border: none;
    padding: 20px 136px 20px 10px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 24px;
  }
  
  .botton-button {
    background-color: $pink-color
;
    color: #FFFFFF;
    border: none;
    padding: 20px 20px;
    margin: -8px;
    border-radius: 0px 25px 25px 0px;
  }
  .botton-button:hover {
    background-color: #3d3a3a;

  }
  .botton-button:focus {
    background-color:  #c2bfbf;
    color:#EF5B70;
  }
  
  .footer {
    background-color: #222224;
    margin: 0 auto;
  }
  
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 7px;
  }
  
  .footer-p {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }
  
  .footer-a-socisl {
    padding-left: 7px;
  }
  
  .footer-svg-hover:hover {
    color: #fff;
    background-color: $pink-color
;
  }
  
  .social-svg:hover .svg-back {
    fill: $pink-color
;
  }
  
  .social-svg:hover .svg-icon {
    fill: #fff;
  }
  
  /* catalog */
  .catalog-promo {
    background-color: #F8F3F4;
    -webkit-box-shadow: 0 0 4px;
            box-shadow: 0 0 4px;
  }
  .catalog-promo__shad__none{
    background-color: #F8F3F4;
  }
  
  .catalog-promo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 60px;
  }
  
  .catalog-promo-new-arrivals-h {
    color: $pink-color
;
    font-size: 24px;
    line-height: 29px;
    padding-top: 39px;
  }
  
  .catalog-promo-menu-home {
    font-size: 14px;
    line-height: 17px;
    padding-top: 65px;
    color: #636363;
  }
  
  .catalog-span-new-arrivals {
    color: $pink-color
;
  }
  
  .catalog-a-home {
    text-decoration: none;
    color: #636363;
  }
  
  ::-webkit-details-marker {
    display: none;
  }
  
  summary {
    display: block;
  }
  
  /*убирает стандартный значек для details*/
  /* details {
      outline: 0;
      outline-offset: 0;
  } */
  :focus {
    /* убирает обводку у details и разных форм */
    outline: 0;
    outline-offset: 0;
  }
  .filter{
    position: relative;
  }
  .filter-details{
    position: absolute;
    width: 328px;
    background-color: #fff;
    padding: 16px;
    cursor: pointer;
    
  }
.filter-summary-main{
  padding-bottom: 16px;

}
 
  .filter-details[open] {
   color: #EF5B70;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    
  }
  .filter-details[open] .catalog-filter__svg{
    fill: #EF5B70;
  }  
  .filter-summary-main::before {
    // content: url(../img/filter_details_before.png);
    padding-right: 0.5em;
    
  }
  .filter-summary-main span{
    margin-left: 11px;
  }
  
  
  
  .filter-summary {
    display: block;
    padding: 10px;
    outline: none;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #EF5B70;
    color: #EF5B70;
    
  }
  
  a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
    color: #6F6E6E;
  }
  
  
 
  
  .filter-ul {
    list-style-type: none;
  }
  
  .filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    padding-top: 51px;
    padding-bottom: 64px;
  }
  
  
  
 
  
  .filter-a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
  }
  .catalog-choice{
    margin-left: 390px;
    padding-top: 16px;
    position: relative;
    display: flex;
    color: #6F6E6E;

    
  }
  .catalog-choice__absl{
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .trending_now{
    width: 161px;
    cursor: pointer;
  }
  .size{
    width: 64px;
    cursor: pointer;
  }
  .price{
    width: 63px;
    cursor: pointer;
  }
 
 
  
  
  .catalog-choice__tn{
    width: 145px;
    
    
  }
  .catalog-choice__input{
background:#fff;
width: 79px;
height: 86px;
padding-top: 7px;
padding-left: 9px;
font-size: 14px;
line-height: 16px;

color: #6F6E6E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .catalog-choice__input span{
margin-left: 11px;
  }
  
 .product-choice__input span{
   margin-left: 11px;
 }

  
  .pages-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* width: 100%; */
  }
  
  .pages-pagination {
    border: #EBEBEB solid 1px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 97px;
  }
  
  .pages-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #fff;
    padding: 15px 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
  }
  
  .pages-button-numbers:hover {
    color: #EF5B70;
  }
  
  .pages-button-points {
    padding-left: 0;
    padding-right: 0;
  }
  
  .pages-button-20 {
    padding-left: 0;
  }
  
  .pages-button-6 {
    padding-right: 0;
  }
  
  /* Product */
  .slider {
    background-color: #F7F7F7;
    border-bottom: 1px solid $light-gray;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .slider-btn {
    padding: 8px;
    position: absolute;
  }
  
  .slider-btn-left {
    left: 0px;
  }
  
  .slider-btn-right {
    right: 0px;
  }
  
  .slider-btn-left {
    border: none;
    background-color: rgba(42, 42, 42, 0.15);
    /* opacity: 15%; */
  }
  
  .slider-btn-right {
    border: none;
    background-color: rgba(42, 42, 42, 0.15);
  }
  
  .slider-btn-color {
    color: #000;
  }
  
  .slider-btn-right:hover i {
    color: #EF5B70;
  }
  
  .slider-btn-left:hover i {
    color: #EF5B70;
  }
  
  .product-goods-info {
    background-color: #fff;
    margin-bottom: 76px;
    cursor: pointer;
  }
  
  .goods-info-wrap {
    text-align: center;
    border: 1px solid $light-gray;
    position: relative;
    top: -50px;
    /* left: 1089px; */
    /* height: auto; */
    background-color: #fff;
    color: #EF5B70;
  }
  
  .product-goods-info-h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $pink-color
;
    margin: 0;
    padding-top: 67px;
  }
  
  .goods-info-hr-pink {
    /* align: center; */
    border: 3px solid $pink-color
;
    width: 63px;
    margin-top: 12px;
    color: $pink-color
;
    background-color: $pink-color
;
  }
  
  .goods-info-hr-gray {
    border: 1px solid $light-gray;
    width: 642px;
    margin-bottom: 64px;
    color:$light-gray;
    background-color:$light-gray;
  }
  
  .product-goods-info-h2-2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #4D4D4D;
    padding-top: 17px;
    padding-bottom: 59px;
  }
  
  .probuct-p {
    /* width: 555px; */
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 298px;
    padding-right: 293px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    font-family: Lato;
    font-style: normal;
    margin: 0;
    padding-bottom: 41px;
  }
  
  .product-goods-info-h2-price {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    color: #EF5B70;
    padding-bottom: 70px;
  }
  
  .product-goods-info-line {
    padding-bottom: 65px;
  }
  
  .product-info-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 49px;
    position: relative;
   
  }
  .product-info-navigation h2{
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
  }
  
  .product-info-navigation-h2 {
    margin-left: 23px;
    margin-right: 23px;
  }
  

  
  .product-goods-card {
    margin-bottom: 79px;
  }
  .product__ch__size1 {
    color: #6F6E6E;
  }
  .product__ch__size{
    margin: 0 23px;
    color: #6F6E6E;

  }
.product-choice__input{
  width: 79px;
  padding-top: 9px;
    background-color: #fff;
    text-align: left;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-bottom: 9px;
    padding-left: 9px;
}
.product-choice__absl{
  
    position: absolute;
    display: flex;
    justify-content: center;
  
}
.product-button button{
  border: 1px solid #EF5B70;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 51px;
  text-align: center;
  margin-top: 47px;
}
.product-button__add__to__cart:hover{
  background-color:#EF5B70;

}
.product-button__add__to__cart:hover .product-button__svg{
  fill: #fff;

}
.product-button__add__to__cart:focus{
  background-color:#f3f3f3;
  border: none;

}
.product-button__add__to__cart:focus .product-button__svg{
  fill: #EF5B70;

}









  /* Сart */
  .cart {
    margin-top: 97px;
    margin-bottom: 125px;
  }
  
  .cart-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .cart-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 39px;
    width: 652px;
  }
  
  .cart-left__cross_btn1 {
    position: absolute;
    left: 725px;
    top: 342px;
    border: none;
    background-color: #fff;
    font-size: 18px;
  }
  
  .cart-left__cross_btn2 {
    position: absolute;
    left: 725px;
    top: 691px;
    border: none;
    background-color: #fff;
    font-size: 18px;
  }
  
  .cart-left__btn {
    background-color: #fff;
    padding: 17px 40px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart-left__btn:hover{
    border: 1px solid  #EF5B70;
    color: #EF5B70;
  }
  .a1{
    position: absolute;
    left: 300px;
    position: absolute;
    left: 723px;
    top: 342px;
  
  }
  .a2{
    position: absolute;
    left: 300px;
    position: absolute;
    left: 723px;
    top: 695px;
  }
  
  .cart-left__btn__cross {
    border: none;
    background-color: #fff;
    font-size: 18px;
    
  }
  .cart-left__input {
    border: 1px solid $light-gray;
    margin-left: 30px;
  }
  
  .cart-left__text {
    margin-left: 34px;
    padding-top: 26px;
    padding-bottom: 62px;
    margin-bottom: 0;
  }
  
  .cart-left__p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    padding-top: 40px;
    color: #575757;
  }
  
  .cart-left__p__pink {
    color: #EF5B70;
  }
  
  .cart-left__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  
  .cart-left__input {
    width: 8px;
    padding: 6px 16px;
   
  }
  
  .cart-right input {
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding-left: 14px;
    color: #4A4A4A;
  }
  
  .cart-right__input__state {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .cart-right h2{
    margin-bottom: 20px;
    font-weight: 300;
  
  
  
  color: #222222;
  }
  .cart-butt_get__a__quote:hover{
    border: 1px solid  #EF5B70;
    color: #EF5B70;
  }
  
  .cart-right button {
    margin-top: 26px;
    border: 1px solid #A4A4A4;
    background-color: #fff;
    padding: 14px;
    color: #4A4A4A;
    margin-bottom: 58px;
  }
  
  .cart-right__price {
    background-color: #F5F3F3;
    text-align: center;
    padding-top: 37px;
  }
  
  .cart-right__price button {
    background-color: #EF5B70;
    width: 273px;
    border: none;
    color: #fff;
  }
  .cart-right__price:hover button{
    background-color: #fff;
    color: #EF5B70;
    border: 1px solid  #EF5B70;
  }

  .cart-right__price:focus button{
    background-color: #f2f2f2;
    color: #EF5B70;
    border: none;
  }

  
  .cart-right__price__sub {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    margin-bottom: 14px;
    margin-right: 34px;
  }
  
  .cart-right__price__grand {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-right: 37px;
    margin-bottom: 21px;
  }
  
  .cart-right__price h2 {
    text-align: end;
  }
  
  .cart-right__price hr {
    border: 1px solid $light-gray;
    width: 275px;
  }

    // registration
    .registration-wrap{
      display: flex;
      justify-content: space-between;
    }